<%- include('header'); -%>
<h2>This is the about page!</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quas officia et. Dolorem sit in accusantium debitis, eveniet at excepturi nostrum dolor quo ullam facilis, consectetur impedit esse eligendi nesciunt eaque. Dolores quas nemo nisi nesciunt deserunt repellat in, dolorum voluptates perferendis consequuntur quae aperiam possimus corrupti dolor praesentium maxime?</p>

<%- include('footer'); -%>